.replay_cache
mods/carpentersblocks/CarpentersBlocksCachedResources.zip
*.dll
*.dat
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/recipes/items.csv
updates.html
minetweaker.log
optionsnf.txt
logs
fonts
*.cache
config/UniqueNames.txt
crash-reports
coretweaks
bettercrashes-stackdeobfuscator-methods.csv
saves
XaeroWaypoints
XaeroWorldMap
config/JustEnoughCalculation/record.json
usernamecache.json
options.txt
XaeroWaypoints_*
backups
screenshots
config/hbmRecipes/_*
config/hbmConfig/_*
serverutilities/aurora.cfg
serverutilities/client/notifications.json
serverutilities/client/sidebar_buttons.json
serverutilities/client/serverutilities.cfg
serverutilities/server/ranks.txt
serverutilities/server/players.txt
serverutilities/server/stat_leaderboards.json
server-resource-packs
config/betterquesting.7z
signpic
config/signpic.cfg
config/splash.properties
config/hodgepodgeEarly.properties
.mixin.out
*.duplicate
LootBagStorage
*.log
CustomSkinLoader
schematics
structures
usercache.json
mods/mp3spi-1.9.5-1.jar
mods/vorbisspi-1.0.3-1.jar
mods/jaad-0.8.5.jar
options_skinport.txt
map exports
config/NEI/client.cfg
config/iChunUtil.cfg
config/shaders.properties
config/gliby_vc/ClientSettings.ini
settings.rtg
config/identity
*.errored
*.tmp
local/crash_assistant
config/crash_assistant/problematic_mods_config.json

*.so

icon.png
