.replay_cache
mods/carpentersblocks/CarpentersBlocksCachedResources.zip
*.dll
*.dat
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/recipes/items.csv
updates.html
minetweaker.log
optionsnf.txt
logs
fonts
*.cache
config/UniqueNames.txt
crash-reports
coretweaks
bettercrashes-stackdeobfuscator-methods.csv
saves
XaeroWaypoints
XaeroWorldMap
config/JustEnoughCalculation/record.json
usernamecache.json
options.txt
XaeroWaypoints_*
backups
screenshots
config/hbmRecipes/_*
config/hbmConfig/_*
serverutilities/aurora.cfg
serverutilities/client/notifications.json
serverutilities/client/sidebar_buttons.json
serverutilities/client/serverutilities.cfg
serverutilities/server/ranks.txt
serverutilities/server/players.txt
serverutilities/server/stat_leaderboards.json
resourcepacks
server-resource-packs
config/betterquesting.7z
signpic
config/xaerominimap.txt
config/xaerominimap.txt
config/signpic.cfg
config/splash.properties
config/hodgepodgeEarly.properties
.mixin.out
*.duplicate
LootBagStorage
*.log
CustomSkinLoader
schematics
structures
